footer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    height: 300px;
}
.footer_image {        
    height: 200px;
    align-self: center;    
    border-radius: 999em;    
}
.social_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: left;
}
.social_item {
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    & a:hover {
        color: oklch(76.9% 0.188 70.08);
    }
    & .icon_wrapper {
        padding: 5px;
        border-radius: 999em;
        background-color: lightgray;
        color: white;
        margin-right: 10px;
    }
    & i {                
        text-align: center;
        border-radius: 999em;  
        color: oklch(76.9% 0.188 70.08);       
    }
}
@media screen and (max-width: 850px) {
    footer {
        flex-direction: column;
        height: auto;
    }
    .author_info {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .social_item {
        font-size: 14px;
    }
}