.receita_list_container {
    background-image: url('../assets/img/kitchen_list_medium.jpg');    
    height: 100vh;
}
.receita_list {    
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;    
    & li:hover {
        background-color: oklch(76.9% 0.188 70.08);
        transition: 0.3s ease-in-out all;
    }
}
.all_receitas_wrapper {
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);    
}